@import "tailwindcss";

@theme {
  --color-primary: #2d336b;
  --color-secondary: #a9b5df;
  --color-tertiary: #fff2f2;
  --color-primary-text: #000000;
  --color-secondary-text: #fff2f2;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply w-full h-screen p-0 m-0 bg-tertiary text-primary-text;
}

.pagePadding {
  @apply px-1.5 sm:px-2 md:px-3 lg:px-5 xl:px-7 2xl:px-9;
}

label {
  @apply ml-1 text-sm font-bold mb-1;
}

.splashBg {
  background: url("/splash.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  @apply outline-none border-0;
}

.btn-contained {
  @apply bg-primary text-white hover:shadow-none;
}

.btn-outlined {
  @apply text-primary-text bg-white border-secondary/20 border-[1pt];
}

.btn-text {
  @apply bg-white text-primary-text;
}

.btn-fab {
  @apply !rounded-full !text-primary-text bg-white size-8 p-2 flex justify-center items-center;
}

.btn-small {
  @apply rounded-sm px-3 py-[5px] text-xs;
}

.btn-medium {
  @apply rounded-md px-4 py-2 text-sm;
}

.btn-large {
  @apply rounded-lg px-6 py-4 text-lg;
}

.btn-x-large {
  @apply rounded-sm px-7 py-5 text-xl;
}